@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  @apply bg-gradient-to-br from-[#9861c4] to-[#2f2f2f];
}

a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

a:hover {
  color: #fff;
  border-bottom: 1px solid #9861c4;
}

.square {
  @apply absolute bg-white bg-opacity-10 border border-[#9861c4] border-opacity-15 rounded-xl;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  animation: square 10s linear infinite;
}

@keyframes square {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}